.gradle/
.idea/
.kotlin/
build/
**/build/
local.properties
.DS_Store

firebase/functions/node_modules/
firebase/.firebase/

hardware-simulator/node_modules/

.env
*.log

# Firebase credentials
secrets/*.json
service-account*.json

# apk file
NexHome-v1.0.apk

app/release/